<footer>
    <div class="footer-content">
      <div class="footer-section">
        <h3>Contacto</h3>
        <p>Dirección: Av. Universidad N° 940 , Edificio 1, Ciudad Universitaria. Aguascalientes. Aguascalientes</p>
        <p>Teléfono: 449 910 7400</p>
        <p>Email: control.escolaraedu.uaa.mx</p>
      </div>
      <div class="footer-section">
        <h3>Enlaces útiles</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Vehículos</a></li>
          <li><a href="#">Reservas</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Redes Sociales</h3>
        <ul>
          <li><a href="https://www.facebook.com/uaa.mx/?locale=es_LA"><i class="fab fa-facebook"></i>Facebook</a></li>
          <li><a href="https://twitter.com/uaa_mx"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com/uaa_mx"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 Rent-a-Car | Todos los derechos reservados
    </div>
  </footer>
  