body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-page {
  height: 100vh;
}

.login-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
}

.login-content {
  width: 100%;
}

.logo {
  display: block;
  margin: 0 auto 30px;
}

.welcome-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items to the bottom */
  padding: 0;
  position: relative;
}

.welcome-panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../assets/img/car_Citro_n-153641.jpg!d') no-repeat center center;
  background-size: cover;
  z-index: 1;
  filter: brightness(50%);
}

.welcome-content {
  position: relative;
  z-index: 2;
  text-align: right;
  color: #fff;
  padding: 110px;
  backdrop-filter: rgba(0, 0, 0, 0.5); /* Slight dark overlay */
  margin-bottom: 50px; /* Adjust this value to position the text higher or lower */
}

.welcome-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.welcome-content p {
  font-size: 24px;
}

