<div class="container-fluid login-page">
  <div class="row no-gutters">
    <div class="col-lg-6 login-panel">
      <div class="login-content">
        <img src="../../assets/img/Logo Nombre.png" alt="Car Logo" class="logo">
        <h3 style="text-align: center; margin-bottom: 30px;">Iniciar Sesión</h3>
        <div class="container mt-4">
          <div class="d-flex justify-content-center">
            <button (click)="seleccionarMetodo('correo')" class="btn btn-primary m-2">Iniciar con Correo</button>
            <button (click)="seleccionarMetodo('telefono')" class="btn btn-secondary m-2">Iniciar con Teléfono</button>
          </div>
        
          <div *ngIf="metodoSeleccionado === 'correo'" class="mt-4">
            <form [formGroup]="formInicioCorreo" (ngSubmit)="onSubmitCorreo()" style="margin: 0 auto;">
              <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="text" class="form-control" id="correo" formControlName="correo" placeholder="Enter email">
                <div *ngIf="correo?.touched && correo?.invalid" class="text-danger">
                  <div *ngIf="correo?.errors?.['required']">El correo es requerido.</div>
                  <div *ngIf="correo?.errors?.['minlength']">El correo debe tener al menos 10 caracteres.</div>
                  <div *ngIf="correo?.errors?.['noAroba']" class="text-danger"> El correo debe contener el símbolo "&#64;".</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="pass" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="pass" formControlName="pass" placeholder="Enter password">
                <div *ngIf="pass?.touched && pass?.invalid" class="text-danger">
                  <div *ngIf="pass?.errors?.['required']">La contraseña es requerida.</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="formInicioCorreo.invalid">Iniciar Sesión</button>
              <div class="text-center mt-3 links-container">
                <a href="/home" class="forgot-password">Inicio</a>
                <a href="/registrarse" class="forgot-password">Registrarme</a>
              </div>
            </form>
          </div>
        
          <div *ngIf="metodoSeleccionado === 'telefono'" class="mt-4">
            <form [formGroup]="formInicioTelefono" (ngSubmit)="onSubmitTelefono()" style="margin: 0 auto;">
              <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Enter phone number">
              </div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="formInicioTelefono.invalid">Iniciar Sesión</button>
              <!-- <div id="recaptcha-container"></div> -->
              <div class="text-center mt-3 links-container">
                <a href="/home" class="forgot-password">Inicio</a>
                <a href="/registrarse" class="forgot-password">Registrarme</a>
              </div>
            </form>
            <div id="recaptcha-container"></div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-lg-6 welcome-panel">
      <div class="welcome-content welcome-content-bottom">
        <h1 style="font-size: 45px; font-family: Archivo Black;">Bienvenido</h1>
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 25px;">Puro pa' delante</p>
      </div>
    </div>
  </div>
</div>
<ngx-loading
      [show]="loading"
      [config]="{
        animationType: ngxLoadingAnimationTypes.circleSwish,
        primaryColour: '#007bff',
        fullScreenBackdrop: true,
      }" class="custom-loading">
</ngx-loading>