<div class="cont">
  <h3>Algunos de nuestros autos y su accesibilidad.</h3>
  <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Vehículo</th>
          <th scope="col">Marca</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Clase S</td>
          <td>Mercedes-Benz</td>
          <td>$100,000</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Serie 7</td>
          <td>BMW</td>
          <td>$90,000</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>A8</td>
          <td>Auid</td>
          <td>$95,000</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>LS</td>
          <td>Lexus</td>
          <td>$85,000</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Panamera</td>
          <td>Porsche</td>
          <td>$110,000</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Model S</td>
          <td>Tesla</td>
          <td>$95,000</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>XJ</td>
          <td>Jaguar</td>
          <td>$90,000</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Flying Spur</td>
          <td>Bentley</td>
          <td>$200,000</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Ghost</td>
          <td>Rolls-Royce</td>
          <td>$300,000</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>GTC4Lusso</td>
          <td>Ferrari</td>
          <td>$300,000</td>
        </tr>
      </tbody>
    </table>
</div>