<div class="card mb-3 container" style="margin-top: 50px;">
    <img src={{automovil.img}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{automovil.nombre}}</h5>
      <p class="card-text">{{automovil.descrip}}</p>
      <div>
          <p class="card-text">{{automovil.marca}}</p>
          <p class="card-text">${{automovil.costo}}</p>
          <p class="card-text">{{automovil.anio}}</p>
      </div>
    </div>
  </div>

<div class="container mb-3" style="padding-left: center;">
    <form class="row g-5" #clienteForm="ngForm">
        <div class="col-12 row g-3">
          <div class="col-md-6">
            <p-floatLabel>
              <p-calendar name="range" [showTime]="true" hourFormat="12" [(ngModel)]="startDate"  />
              <label for="startDate" class="form-label">Fecha de Inicio </label>
            </p-floatLabel>
          </div>
          <div class="col-md-6">
            <p-floatLabel>
              <p-calendar name="range" [showTime]="true" hourFormat="12" [(ngModel)]="endDate"  />
              <label for="endDate" class="form-label">Fecha de Entrega </label>
            </p-floatLabel>

          </div>
        </div>
         
        <div class="col-12" style="margin-bottom: 90px;"> 
          <button type="submit" class="btn btn-primary" (click)="submit()">Confirmar</button>
        </div>
      </form>
</div>